<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/styles.css')}}" />
</head>
<body>
    <header>
      <nav id="navbar">
        <div class="home-icon">
          <a href="/menu"
            ><img
              src="static\styles\home.png"
              alt="Home Page"
              width="150"
              height="50"
          /></a>
        </div>
        <div class="nav-icons">
          <a href="/rules">
            <div class="nav-item">
              <img src="static\styles\questionmark.png" alt="Rules" />
              <span>Rules</span>
            </div>
          </a>
          <a href="/requests">
            <div class="nav-item">
              <img src="static\styles\requests.png" alt="Requests" />
              <span>Versus</span>
            </div>
          </a>
          <a href="/leaderboard">
            <div class="nav-item">
              <img src="static\styles\trophy.png" alt="Leaderboard" />
              <span>Leaderboard</span>
            </div>
          </a>
          <a href="/team">
            <div class="nav-item">
              <img src="static\styles\team.png" alt="Meet the Team" />
              <span>Meet the Team</span>
            </div>
          </a>
          <a href="logoutcas">
            <div class="nav-item">
              <img src="static\styles\logout.png" alt="Logout" />
              <span>Log Out</span>
            </div>
          </a>
        </div>
      </nav>
    </header>
    
    <main>
        <div class="leaderboard">
            <div class="user-stats">
                <h2>Your Stats</h2>
                <img class="person-icon" src="static\styles\person.png">
                <div class="stats-row">
                    <div class="label">Today's Ranking:</div><div class="value">{{daily_rank}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Overall Ranking:</div><div class="value">{{rank}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Today's Score:</div><div class="value">{{daily_points}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Total Score:</div><div class="value">{{points}}</div>
                </div>
                <div class="stats-row">
                    {% if streak == 0 %}
                    <div class="label">Streak</div><div class="value">0</div>
                    {% else %}
                    <div class="label">Streak</div><div class="value">{{streak}} &#128293;</div>
                    {% endif %}
                </div>
            </div>

            <div class="top-players">
                <div class="dropdown">
                    <h2>Top Daily Players</h2>
                    <div class="dropdown-content">
                        <a href="/leaderboard"><b class="center highlight">Daily Leaderboard</b></a>
                        <a href="/totalboard"><b class="center">Overall Leaderboard</b></a>
                    </div>
                </div>
                <div id="container">
                    {% for player in top_players %}
                    <div class="row">
                        <div class="rank">{{ loop.index }}</div>
                        <div class="name">{{ player['username'] }}</div>
                        <div class="score">{{ player['points'] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
    </main>
    <!-- Add any scripts here -->
    <script>
        // When the user scrolls the page, execute myFunction
window.addEventListener('scroll', function() {
    var navbar = document.getElementById('navbar');
    var sticky = navbar.offsetTop;

    if (window.pageYOffset >= sticky) {
        navbar.classList.add('sticky');
        document.body.style.paddingTop = (navbar.offsetHeight - 30) + 'px'; // Add padding equal to navbar height
    } else {
        navbar.classList.remove('sticky');
        document.body.style.paddingTop = '0'; // Reset padding
    }
});


    

    </script>
</body>
</html>

