<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'styles/styles.css')}}"
    />
  </head>
  <style>
    #orange-team {
        color: rgb(235, 135, 28);
    }
</style>
  <body>
      <header class="team-header">
        {% include "navbar.html" %}
      </header>

    <div class="team-row margin">
      <div class="column">
        <div class="card">
          <img
            src="static\styles\ethan.jpeg"
            alt="Ethan"
            width="150"
            height="150"
          />
          <div class="container">
            <h2>Ethan Do</h2>
            <p>Favorite Spot on Campus: Dillon Gym</p>
          </div>
        </div>
      </div>

      {% if username == top_player_username or username == 'sr4508' or username == 'rdondero' or username == 'cl7359' %}
      <div class="column">
        <div class="card">
          <a href="/congrats">
          <img
            src="static\styles\claudia.jpeg"
            alt="Claudia"
            width="150"
            height="150"
          />
          </a>
          <div class="container">
            <h2>Claudia Lee</h2>
            <p>Favorite Spot on Campus: Circle of Animals / Zodiac Heads</p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="column">
        <div class="card">
          <img
            src="static\styles\claudia.jpeg"
            alt="Claudia"
            width="150"
            height="150"
          />
          <div class="container">
            <h2>Claudia Lee</h2>
            <p>Favorite Spot on Campus: Circle of Animals / Zodiac Heads</p>
          </div>
        </div>
      </div>
  
      {% endif %}

      <div class="column">
        <div class="card">
          <img
            src="static\styles\frank.jpeg"
            alt="Frank"
            width="150"
            height="150"
          />
          <div class="container">
            <h2>Frank Liu</h2>
            <p>Favorite Spot on Campus: Cannon Green</p>
          </div>
        </div>
      </div>
    </div>

    <div class="team-row margin">
      <div class="column">
        <div class="card">
          <img
            src="static\styles\winsice.jpeg"
            alt="Winsice"
            width="150"
            height="150"
          />
          <div class="container">
            <h2>Winsice Ng</h2>
            <p>Favorite Spot on Campus: Tower Club</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img
            src="static\styles\jessica.jpeg"
            alt="Jessica"
            width="150"
            height="150"
          />
          <div class="container">
            <h2>Jessica Yan</h2>
            <p>Favorite Spot on Campus: Charter Club</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.addEventListener('scroll', function() {
          var navbar = document.getElementById('navbar');
          var sticky = navbar.offsetTop;

          if (window.pageYOffset >= sticky) {
              navbar.classList.add('sticky');
              document.body.style.paddingTop = (navbar.offsetHeight - 100) + 'px'; // Add padding equal to navbar height
          } else {
              navbar.classList.remove('sticky');
              document.body.style.paddingTop = '0'; // Reset padding
          }
      });
    </script>
  </body>
</html>
