<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Challenges</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/styles.css')}}" />
</head>
<body>
   <header>
    <nav id="navbar">
        <div class="home-icon">
            <a href="/menu"><img src="static\styles\home.png" alt="Home Page" width="150" height="50"></a>
        </div>
        <div class="nav-icons">
            <a href="/rules">
                <div class="nav-item">
                    <img src="static\styles\questionmark.png" alt="Rules" />
                    <span>Rules</span>
                </div>
            </a>
            <a href="/requests">
                <div class="nav-item">
                    <img src="static\styles\requests.png" alt="Requests" />
                    <span>Versus</span>
                </div>
            </a>
            <a href="/leaderboard">
                <div class="nav-item">
                    <img src="static\styles\trophy.png" alt="Leaderboard" />
                    <span>Leaderboard</span>
                </div>
            </a>
            <a href="logoutcas">
                <div class="nav-item">
                    <img src="static\styles\logout.png" alt="Logout" />
                    <span>Log Out</span>
                </div>
            </a>
        </div>
    </nav>
    </header>
    
    <main class="main-content">
        <form id="versusForm" method="get" action="/create-challenge" onsubmit="">
            <div class="form-group">
                <label for="VersusID">Enter Opponent NetID</label>
                <input type="text" name="opponentID" id="opponentID" value="">
                <input type = "hidden" id="challengee_id" name = "challengee_id" value ="">
            </div>
            <button type="submit" class="submit"><b>Submit</b></button>
        </form>
        <section class="top-players">
            <h2>Challenges I've Initiated</h2>
            <div id="container">
                <div class="row">
                    <div class="rank"><u>Opponent</u></div>
                    <div class="name"><u>Status</u></div>
                    <div class="score2"><u>Winner</u></div>
                </div>
                    {% if challenges.initiated %}
                        {% for challenge in challenges.initiated %}
                        <div class="row">
                            <div class="rank">{{ challenge.challengee_id }}</div>
                            <div class="name">{{ challenge.status }}</div>
                            {% if challenge.winner_id != None %}
                            <a href="{{ url_for('versus_stats', challenge_id=challenge.id) }}" class="score link-style">
                            {{ challenge.winner_id }}
                            </a>
                            {% else %}
                            <div class="score">None</div>
                            {% endif %}
                            {% if challenge.status == 'accepted' and not challenge.challenger_finished %}
                                <form method="post" action="/play_button">
                                    <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                    <button type="submit" class="submit"><b>Play</b></button>
                                </form>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No initiated challenges.</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="top-players">
            <h2>Challenges I've Received</h2>
            <div id="container">
                <div class="row">
                    <div class="rank"><u>Opponent</u></div>
                    <div class="name"><u>Status</u></div>
                    <div class="score2"><u>Winner</u></div>
                </div>
                    <div class="challenges-list">
                        {% if challenges.received %}
                            {% for challenge in challenges.received %}
                            <div class="row">
                                <div class="rank">{{ challenge.challenger_id }}</div>
                                <div class="name">{{ challenge.status }}</div>
                                {% if challenge.winner_id != None %}
                                <a href="{{ url_for('versus_stats', challenge_id=challenge.id) }}" class="score link-style">
                                {{ challenge.winner_id }}
                                </a>
                                {% else %}
                                <div class="score">None</div>
                                {% endif %}
                                {% if challenge.status == 'accepted' and not challenge.challengee_finished %}
                                    <form method="post" action="/play_button">
                                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                        <button type="submit" class="submit"><b>Play</b></button>
                                    </form>
                                {% elif challenge.status != 'completed' and not challenge.challengee_finished %}
                                    <form id="accept" method="post" action="/accept_challenge">
                                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                        <button type="submit" class="submit"><b>Accept</b></button>
                                    </form>
                                    <form id="decline" method="post" action="/decline_challenge">
                                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                        <button type="submit" class="submit"><b>Decline</b></button>
                                    </form>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No received challenges.</p>
                        {% endif %}
                    </div>
            </div>
        </section>
        
    </main>
</body>
</html>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Select all elements with the class 'score' and add a click event listener to each
    document.querySelectorAll('.score').forEach(function(element) {
        element.addEventListener('click', function() {
            // Redirect to the URL stored in the 'data-url' attribute
            var url = element.getAttribute('data-url');
            window.location.href = url;
        });
    });
});


            var users = JSON.parse('{{ users | safe }}');
            document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("versusForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent the default form submission
                
                var challengerID = "{{username}}"// Assuming username is the challenger's ID
                var challengeeID = document.getElementById("opponentID").value;
                // Set up the AJAX request
                fetch('/create-challenge', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `challenger_id=${encodeURIComponent(challengerID)}&challengee_id=${encodeURIComponent(challengeeID)}`
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);  // Log data to see what's being returned from the server
                if (data.status === 'error' || challengeeID == "") {
                    console.log("Handling error");  // Check if this part gets executed
                    alert(data.message);
                } else {
                    alert("Match created successfully.");
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);  // Log errors if fetch itself fails
                alert('Error making request: ' + error.message);
            });

                });
            });
    

    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
    }
    }

</script>
