<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Challenges</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/styles.css')}}" />
</head>
<style>
    #orange-vs {
        color: rgb(235, 135, 28);
    }
</style>
<body>
      <header class="versus-header">
        {% include "navbar.html" %}
      </header>
    
    <main class="main-content versus">
        <form id="versusForm" method="get" action="/create-challenge" onsubmit="">
            <div class="form-group">
                <label for="VersusID"><b>Enter Opponent NetID: </b></label>
                <input type="text" name="opponentID" id="opponentID" value="">
                <input type = "hidden" id="challengee_id" name = "challengee_id" value ="">
            </div>
            <button type="submit" class="submit this"><b>Submit</b></button>
        </form>
        <section class="top-players challenges">
            <h2>Challenges I've Initiated</h2>
            <div id="container">
                <div class="row">
                    <div class="rank"><u>Opponent</u></div>
                    <div class="name"><u>Status</u></div>
                    <div class="score2"><u>Winner</u></div>
                </div>
                <div class="challenges-list">
                    {% if challenges.initiated %}
                        {% for challenge in challenges.initiated %}
                        <div class="input-row">
                            <div class="user-id output">{{ challenge.challengee_id }}</div>
                            <div class="name output">{{ challenge.status }}</div>
                            <div class="winner-vs">
                                {% if challenge.winner_id != None %}
                                <a href="{{ url_for('versus_stats') }}" data-challenge-id="{{ challenge.id }}" class="score link-style">
                                {{ challenge.winner_id }}
                                </a>
                                {% endif %}                                
                                {% if challenge.status == 'accepted' and not challenge.challenger_finished %}
                                    <form method="post" action="/play_button">
                                        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                        <button type="submit" class="submit challenge"><b>Play</b></button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-challenges">No initiated challenges.</p>
                    {% endif %}
                </div>
                </div>
            </div>
        </section>
        <section class="top-players challenges">
            <h2>Challenges I've Received</h2>
            <div id="container">
                <div class="row">
                    <div class="rank"><u>Opponent</u></div>
                    <div class="name"><u>Status</u></div>
                    <div class="score2"><u>Winner</u></div>
                </div>
                    <div class="challenges-list">
                        {% if challenges.received %}
                            {% for challenge in challenges.received %}
                            <div class="input-row">
                                <div class="user-id output">{{ challenge.challenger_id }}</div>
                                <div class="name output">{{ challenge.status }}</div>
                                <div class="winner-vs">
                                    {% if challenge.winner_id != None %}
                                    <a href="{{ url_for('versus_stats')}}" data-challenge-id="{{ challenge.id }}" class="score link-style">
                                    {{ challenge.winner_id }}
                                    </a>
                                    {% endif %}
                                    {% if challenge.status == 'accepted' and not challenge.challengee_finished %}
                                        <form method="post" action="/play_button">
                                            <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                            <button type="submit" class="submit challenge"><b>Play</b></button>
                                        </form>
                                    {% elif challenge.status != 'completed' and not challenge.challengee_finished and challenge.status != 'declined'%}
                                        <div class="duo-buttons">
                                            <form id="accept" method="post" action="/accept_challenge">
                                                <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                                <button type="submit" class="submit challenge"><b>Accept</b></button>
                                            </form>
                                            <form id="decline" method="post" action="/decline_challenge">
                                                <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                                                <button type="submit" class="submit decline"><b>Decline</b></button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No received challenges.</p>
                        {% endif %}
                    </div>
            </div>
        </section>
        
    </main>
</body>
</html>
<script>
            document.addEventListener('DOMContentLoaded', function() {
            // Select all links with the class 'score' inside the 'winner-vs' container and add a click event listener to each
            document.querySelectorAll('.winner-vs .score').forEach(function(element) {
                element.addEventListener('click', function(event) {
                    event.preventDefault();  // Prevent the default link behavior

                    // Create a form element
                    var form = document.createElement('form');
                    form.method = 'POST';
                    form.action = this.getAttribute('href');  // Set the form action to the URL in the href attribute of the link

                    // Create hidden input to hold any necessary data, for example, challenge_id
                    var challengeIdInput = document.createElement('input');
                    challengeIdInput.type = 'hidden';
                    challengeIdInput.name = 'challenge_id';
                    challengeIdInput.value = this.dataset.challengeId; // Assuming each link has a 'data-challenge-id' attribute

                    form.appendChild(challengeIdInput);  // Append the hidden input to the form

                    document.body.appendChild(form);  // Append the form to the document
                    form.submit();  // Submit the form
                });
            });
        });




            var users = JSON.parse('{{ users | safe }}');
            document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("versusForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent the default form submission
                
                var challengerID = "{{username}}"// Assuming username is the challenger's ID
                var challengeeID = document.getElementById("opponentID").value;
                // Set up the AJAX request
                fetch('/create-challenge', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `challenger_id=${encodeURIComponent(challengerID)}&challengee_id=${encodeURIComponent(challengeeID)}`
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);  // Log data to see what's being returned from the server
                if (data.status === 'error' || challengeeID == "") {
                    console.log("Handling error");  // Check if this part gets executed
                    alert(data.message);
                } else {
                    alert("Match created successfully.");
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);  // Log errors if fetch itself fails
                alert('Error making request: ' + error.message);
            });

                });
            });
    

    window.addEventListener('scroll', function() {
        var navbar = document.getElementById('navbar');
        var sticky = navbar.offsetTop;

        if (window.pageYOffset >= sticky) {
            navbar.classList.add('sticky');
            document.body.style.paddingTop = (navbar.offsetHeight - 100) + 'px'; // Add padding equal to navbar height
        } else {
            navbar.classList.remove('sticky');
            document.body.style.paddingTop = '0'; // Reset padding
        }
    });

</script>