<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/styles.css')}}" />
</head>
<style>
    #orange-board {
        color: rgb(235, 135, 28);
    }
</style>
<body>
    <header class="board-header">
      {% include "navbar.html" %}
    </header>
    
    <main>
        <div class="leaderboard">
            <div class="user-stats">
                <h2>Your Stats</h2>
                <img class="person-icon" src="static\styles\person.png">
                <div class="stats-row">
                    <div class="label">Today's Ranking:</div><div class="value">{{daily_rank}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Overall Ranking:</div><div class="value">{{rank}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Today's Score:</div><div class="value">{{daily_points}}</div>
                </div>
                <div class="stats-row">
                    <div class="label">Total Score:</div><div class="value">{{points}}</div>
                </div>
                <div class="stats-row">
                    {% if streak == 0 %}
                    <div class="label">Streak</div><div class="value">0</div>
                    {% else %}
                    <div class="label">Streak</div><div class="value">{{streak}} &#128293;</div>
                    {% endif %}
                </div>
            </div>

            <div class="top-players">
                <div class="dropdown">
                    <h2>Top Overall Players</h2>
                    <div class="leaderboard-content">
                        <a href="/leaderboard"><b class="center">Daily Leaderboard</b></a>
                        <a href="/totalboard"><b class="center highlight">Overall Leaderboard</b></a>
                    </div>
                </div>
                <div id="container">
                    {% for player in top_players %}
                    <div class="row">
                        <div class="rank">{{ loop.index }}</div>
                        <div class="name">{{ player['username'] }}</div>
                        <div class="score">{{ player['points'] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
    </main>
     <script>
        window.addEventListener('scroll', function() {
            var navbar = document.getElementById('navbar');
            var sticky = navbar.offsetTop;

            if (window.pageYOffset >= sticky) {
                navbar.classList.add('sticky');
                document.body.style.paddingTop = (navbar.offsetHeight - 100) + 'px'; // Add padding if extends beyond offset for sticky navbar
            } else {
                navbar.classList.remove('sticky');
                document.body.style.paddingTop = '0'; // Reset padding
            }
        });
    </script>
</body>
</html>

