body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: orange;
  border: 0.6vw solid black;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: white;
  color: white;
  padding: 1vw;
  text-align: center;
  box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
  border-bottom: 0.6vw solid black;
}

.home-icon {
  max-width: 100%;
  height: auto;
  margin-right: auto;
}

/* Navigation styles */
nav {
  background-color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-icons {
  text-align: right;
  max-width: 100%;
  height: auto;
  float: right;
  margin-right: 1vw;
}

.nav-icons a {
  margin-left: 1vw;
  text-decoration: none;
  color: white;
}

main {
  margin: 0;
  padding: 4vh 4vw;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 0.6vw solid black;
  border-radius: 1vh;
  background: white;
  padding: 7vh 1vw;
}

.logo {
  width: 60vw;
  max-height: 60vh; /* Adjusted max-height for vertical responsiveness */
  padding: 1vh 1vw; /* Adjusted padding for responsiveness */
}

.text {
  display: flex;
  font-size: 4.5vh;
  line-height: 1.5;
  align-items: center;
  padding: 0vh 8vw;
}

.button {
  background-color: orange;
  border: 0.6vw solid black;
  border-radius: 1vw;
  font-size: 8vh;
  padding: 1vh 1vw;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover, .result-btn:hover {
  background-color: rgb(219, 128, 16);
}

@media screen and (max-width: 800px) {
  .page {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .home {
    width: 100%;
  }
}

/* Rules Page CSS*/

.instructions {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 0.6vw solid black;
  border-radius: 1vh;
  background: white;
  padding: 0vh 1vw 8vh 1vw;
}

.instructions .title {
  font-size: 10vh;
  margin-bottom: 2vh;
}

.instructions ul {
  padding: 0vh 5vw;
  font-size: 4.5vh;
  text-align: left;
}

/* Results Page CSS */
.game-result {
  color: black;
  font-size: 2vw;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%; /* Move the text to the middle horizontally */
  transform: translateX(-50%); /* Center the text exactly in the middle */
}

.result-btn {
  background-color: white;
  border: 0.6vw solid black;
  border-radius: 1vw;
  font-size: 4vh;
  padding: 1vh 1vw;
  transition-duration: 0.2s;
  cursor: pointer;
}

/* Game Page CSS */
header .game-text {
  color: black;
  font-size: 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clear,
.submit {
  border: 0.4vw solid black;
  border-radius: 1vw;
  font-size: 2vh;
  padding: 1vh 1vw;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-right: 0.75vw;
}

.clear {
  background-color: rgb(228, 34, 34);
}

.submit {
  text-decoration: none;
  background-color: rgb(83, 219, 81);
}

.submit a {
  text-decoration: none;
}

.clear:hover,
.submit:hover {
  background-color: rgb(255, 255, 255);
}

hr {
  border: 1px solid black;
}

.game-btns {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -65vh;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 10vh;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%; /* Ensure the container takes up the full width */
  max-height: 90%;
  padding: 4vh 0vw;
}

.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-height: 90%;
}

.game-image {
  width: 30vw; /* Adjusted width */
  height: 65vh;
  padding: 1vh 1vw;
}

.map {
  width: 40vw; 
  height: 65vh; 
  padding: 1vh 0vw;
  position: relative; 
}

/* Leaderboard styles */
.leaderboard {
  display: flex;
  justify-content: space-between;
  padding: 1vh 4vw 1vh 4vw;
}

.top-players,
.user-stats {
  flex: 1;
  background-color: white;
  border-radius: 1vh;
  border: 1vh solid black;
  box-shadow: 0 1vh 2vw rgba(0, 0, 0, 0.1);
  padding: 2vh 2vw;
  margin: 1vh 1.8vw;
}

.top-players {
  display: flex;
  flex-direction: column;
  margin-right: 1.5vh;
  max-height: calc(100vh - 6vh);
  width: 50vw;
  overflow: hidden; /* Hide overflow content */
  padding-bottom: 1vh;
}

.user-stats {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vh;
}

#container {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 6vh);
  border-right: 0.25vh solid black;
  border-left: 0.25vh solid black;
  border-top: 0.25vh solid black;
}

.row {
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
  border-bottom: 0.25vh solid black;
}

.top-players h2 {
  margin-top: 0;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 6vh;
}

.row:nth-child(even) {
  background-color: orange;
}

.rank,
.name,
.score,
.label,
.value {
  flex: 1;
}


.link-style {
  flex: 1;
  display: flex;  
  align-items: center;
  justify-content: center;
  text-decoration: none; 
}

.score {
  text-align: right;
}

/* User stats styles */
.user-stats h2 {
  margin-top: 0;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 6vh;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  padding-top: 1vh;
  font-size: 4vh;
}

.label {
  flex: 1;
  font-weight: bold;
}

.value {
  flex: 1;
  text-align: right;
}

.person-icon {
  display: flex;
  max-width: 15vh;
  height: auto;
  padding-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .game-image {
    width: 80vw; 
    height: 50vh;
  }

  .map {
    width: 85vw; 
    height: auto;
    padding-left: 4vw;
  }

  #map {
    width: 85vw;
  }
}

@media screen and (max-width: 1000px) {
  .leaderboard {
    flex-direction: column;
    align-items: center;
  }

  .user-stats {
    width: 60vw; /* Adjust as needed */
    height: 50vh;
  }

  .top-players {
    width: 60vw; /* Adjust as needed */
    height: 50vh;
  }
}
